{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% block content %}
    <title>Pedidos</title>

    <link rel="stylesheet" href="{% static 'pedidosTotales.css' %}" />
    <main class="main-pedidos">
      <div class="pedidos">
        {% for pedido in pedidos %}
        <div class="cardPedido">
          <p class="name">Nombre: {{pedido.nombre}}</p>
          <p class="dni">DNI: {{pedido.DNI}}</p>
          <p class="tel">Telefono: {{pedido.telefono}}</p>
          <p class="total">Total: <span>${{pedido.total}}</span></p>
          
          <button class="state-options" onclick='abrir("{{pedido.nombre}}")'><img src="{% static 'settings-svgrepo-com (1).svg' %}" alt="" class="svg" ></button>
          <form action="{% url 'eliminarPedido' pedido.id %}" method="POST">
            {% csrf_token %}
            <button class="eliminar">Eliminar</button>
          </form>
          <div class="{{pedido.nombre}} opciones">
            <form action="{% url 'changeState' 1 pedido.id %}" method="POST">
              {% csrf_token %}
              <button class="boton_estado">Pago listo</button>
            </form>
            <form action="{% url 'changeState' 2 pedido.id %}" method="POST">
              {% csrf_token %}
              <button class="boton_estado">Pedido listo</button>
            </form>
            <form action="{% url 'changeState' 3 pedido.id %}" method="POST">
              {% csrf_token %}
              <button class="boton_estado">A retirar</button>
            </form>
          </div>
          <div class="{{pedido.nombre}}prods productosDelPedido" style="display: none">

            {% for producto in productos %}
              {% if pedido.id == producto.pedido_id.id %}
                <a href="{% url 'product_detail' producto.producto_id.id  %}">{{ producto.producto_id.nom_prod }} x{{producto.cantidad}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="details">
        <p class="usuarios">Usuarios totales: <span>{{totalCliente}}</span></p>
        {% if total != 0 %}
        <p class="totalpedidos">Total pedidos: <span>{{total}}</span></p>
        <p class="ganancia">Ganancia total: <span>${{ganancia}}</span></p>
        {% else %}
        <h1>NO HAY PEDIDOS</h1>
        {% endif %}
      </div>
    </main>
    <script>
      
      flex = false
      function abrir(nombre){
        
        //const botones = document.querySelectorAll('.state-options')
        const opciones = document.querySelector(`.${nombre}`)
        const prods = document.querySelector(`.${nombre}prods`)
        //botones.forEach(boton => {
          
          //boton.addEventListener('click', ()=>{
            console.log(opciones)
            if(!flex){
              flex = true
              
                 prods.style.display = "block"
                  opciones.style.display = "flex"
                
            }else{
                flex = false 
                
                prods.style.display = "none"
                  opciones.style.display = "none"
              
            }
              
              
           // })
          
        //})
      }


    </script>
    {% endblock content %}
    
  </body>

  
</html>
