{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    {% block content %}
    <main>

        {% for prod in prods %}
            <img src={{prod.foto.url}} alt="" class="imagen_buy">
            <p>{{prod.nom_prod}}</p>
            <p>{{prod.cant_prod}}</p>
            <form action="{% url 'deleteFromCart' prod.nom_prod %}" method="POST">
                {% csrf_token %}
                <button>
                    Borrar
                </button>
            </form>
        {% endfor %}
        {% if total != 0%}
            <p>Total: {{total}}</p> 
            <form action="{% url 'delete_all' %}" method="POST">
                {% csrf_token %}
                <button>Vaciar carrito</button>
            </form>
            <form action="{% url 'preCompra' %}">

                <button>
                    Siguiente
                </button>
            </form>
        {% else %}
            <h1>EL CARRITO ESTA VACIO</h1>
        {% endif %}

    </main>
    {% endblock content %}
        
</body>
</html>

