{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    
    
    
    {% block content %}
    <main>
       
        <div >
            <img src="{{data.thumbnail.url}}" alt="" class="imagen_buy">
            <p>{{error}}</p>
            <p>{{data.nom_prod}}</p>
            <p>${{data.precio_prod}}</p>
            <p>{{data.descripcion}}</p>
            {% if data.hayStock %}
                <form action="{% url 'addCart' data.nom_prod %}">
                    {% csrf_token %}
                    <input type="number" name="cant" id="cant" min="1" max="10">
                    
                    <button>
                        Agregar al carrito
                    </button>
                </form>
            {% else %}
                <p>No hay stock</p>
            {% endif %}
            
            {% if user.is_staff %}
            <form action="{% url 'delete_prod' data.nom_prod %}" method="POST">
                {% csrf_token %}
                <button>
                    Borrar
                </button>
            </form>

            <form action="{% url 'update_stock' data.nom_prod %}" method='POST'>
                {% csrf_token %}
                {% if data.hayStock %}
                    <button>No hay stock</button>
                {% else %}
                    <button>Hay stock</button>
                {% endif %}
            </form>
            
            {% endif %}
            
            
            
        </div>
    
        
    </main>
    {% endblock %}
    

</body>
</html>