@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.main-product {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product .product-box {
  position: relative;
  box-shadow: 0 0 5px #000;
  max-width: 800px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.main-product .product-box .info {
  padding-left: 5px;
  margin: 5px;
  border-left: 1px solid rgba(116, 116, 116, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-product .product-box .product-img {
  width: 400px;
}
.main-product .product-box .info .product-price {
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 30px;
  color: #008000;
  padding-right: 10px;
}
.main-product .product-box .info .product-description {
  color: rgba(7, 7, 7, 0.678);
  height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product .product-box .info .product-title {
  text-align: center;
  font-size: 40px;
}
.main-product .product-box .info .noStock {
  text-align: center;
  color: red;
}
.main-product .product-box .info .deleteproduct{
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  box-shadow: 0 0 5px #f00;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product .product-box .info .deleteproduct button{
  border-radius: 50px;
  border: none;
  outline: none;
  width: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product .product-box .info .switchstock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.main-product .product-box .info .switchstock button {
  width: 90%;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;

}
.main-product .product-box .info .switchstock button.nohay {
  background: rgb(138, 2, 2);
  color: white;
}
.main-product .product-box .info .switchstock button.nohay:hover{
  box-shadow: rgb(138, 2, 2);
}
.main-product .product-box .info .switchstock button.sihay {
  background: rgb(9, 146, 238);
  color: white;
}
.main-product .product-box .info .switchstock button.sihay:hover{
  background: rgb(9, 146, 238);
}
.main-product .product-box .info .buttons {
  height: 100%;
  display: flex;
  align-items: end;
}
.main-product .product-box .info .buttons .addproduct {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-product .product-box .info .buttons .addproduct input {
  box-shadow: inset 0 0 5px #000;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 30px;
}
.main-product .product-box .info .buttons .addproduct .addToCart {
  background: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  font-size: 30px;
  width: 100%;
}

@media (max-width: 800px) {
  .main-product .product-box .info .product-price{
    right: 0;
  }
  .main-product .product-box {
    grid-template-columns: 1fr;
    max-width: 400px;
  }
  .main-product .product-box .info {
    border-left: none;
    border-top: 1px solid rgba(116, 116, 116, 0.26);
  }
}

.formActualizar{
  display: none;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




/*# sourceMappingURL=product_detail.css.map */