{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'addToCart.css' %}" />
    <main class="main-cart">
      {% if total != 0%}
      <div class="products">
        {% for prod in prods %}
        <div class="product">
          <img src="{{prod.foto.url}}" alt="bolso" class="product-img" />
          <p class="product-name">{{prod.nom_prod}}</p>
          <p class="product-cant">Cantidad: {{prod.cant_prod}}</p>
          <form
            action="{% url 'deleteFromCart' prod.nom_prod %}"
            method="POST"
            class="deleteproduct"
          >
            {% csrf_token %}
            <button>Borrar</button>
          </form>
        </div>
        {% endfor %}
      </div>
      <div class="details">
        <p class="totalvalue">Total: <span>${{total}}</span></p>
        <form action="{% url 'delete_all' %}" method="POST" class="emptycart">
          {% csrf_token %}
          <button
            style="
              display: flex;
              gap: 5px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <img src="{% static 'delete.svg' %}" alt="" style="height: 20px" />
            Vaciar carrito
          </button>
        </form>
        <form action="{% url 'preCompra' %}" class="buy">
          <button
            style="
              display: flex;
              gap: 5px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
          <img src="{% static 'cart.svg' %}" alt="" style="height: 30px">
            Ir a comprar
          </button>
        </form>
      </div>
      {% else %}
      <h1>EL CARRITO ESTA VACIO</h1>
      {% endif %}
    </main>

    {% endblock content %}
  </body>
</html>
