{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'buy.css' %}" />
    <title>STOCK</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'buy.css' %}" />
    <main class="main-buy">
      <div class="main-filter-div">
        <ul class="main-filter-ul">
          <li>
            <span>Filtrar:</span>
          </li>
          {% for cat in categorias %}
          <li>
            <form action="{% url 'filtrar' cat.id %}" method="POST">
              {% csrf_token %}
              <a href="{% url 'filtrar' cat.id %}" style="text-transform: uppercase;">{{cat}}</a>
            </form>
          </li>
          {% endfor %}
        </ul>

      
      <form action="" method="GET" class="searchbar">

        <input type="search" name="buscar" id="buscar" autocomplete="off">
        <button><img src="{% static 'search.svg' %}" alt="" /></button>
      </form>
      
      <div class="products">
        {% for product in products %} 
        {% if product.hayStock %}

        <a href="{% url 'product_detail' product.id  %}" class="product_card">
          <img src="{{product.thumbnail.url}}" alt="" />
          <span class="product">{{product}}</span>
          <p style="color: green; font-size: 20px;">${{product.precio_prod}}</p>
        </a>

        {% else %} {% if user.is_staff %}
        <a href="{% url 'product_detail' product.id  %}" class="product_card">
          <img src="{{product.thumbnail.url}}" alt="" class="imagen_buy" />
          <span class="product">{{product}}</span>
          <p style="color: green; font-size: 20px;">${{product.precio_prod}}</p>
        </a>
        {% else %}
        <div class="product_card">
          <img src="{{product.thumbnail.url}}" alt=""  />
          <span class="product">{{product}}</span>
          <p style="color: green; font-size: 20px;">${{product.precio_prod}}</p>
          <p style="color: red;">NO HAY STOCK</p>
        </div>
        {% endif %} 
        {% endif %} 
        {% endfor %}

      </div>
    </main>

    {% endblock %}
  </body>
</html>
